{__NOLAYOUT__}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>后台登录</title>s
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/htlogin.css" />
</head>
<body class="login">
	<div class="a container">
			<div class="row">
				<div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 "></div>
				<div class="col-xs-7 col-sm-5 col-md-4 col-lg-4 ">
					<img src="__PUBLIC__/img/鹅 (1).png" class="b" />
					<hr class="hr01" />
					<a class="c">Fun心理测试管理后台</a>
				</div>
				<div class="col-xs-5 col-sm-7 col-md-8 col-lg-7 "></div>
				<hr class="hr02" />
			</div>
		</div>
	<div class="login_box">
	<form method="post">
		<h1>欢迎访问后台</h1>
		<table>
			<tr><th width="80">用户名：</th><td><input class="input" type="text" name="admin_name" /></td></tr>
			<tr><th>密　码：</th><td><input class="input" type="password" name="admin_pwd" /></td></tr>
			
			<tr><td>&nbsp;</td><td><input class="login_btn" type="submit" value="登录" /></td></tr>
		</table>
	</form>
	</div>
	<hr style="box-shadow: 0px 1px 0px #D5D5D5;" />
		<footer>
			<p style="text-align: center;">电话:6666-666-666&nbsp;&nbsp;地址:广州市从化区广从南路548号R820</p>
			<p style="text-align: center;">©&#x3000;2017&#x3000;广州Fun有限公司&#x3000;ShangPin.com&#x3000;京ICP证100572号&#x3000;京ICP备11004896号&#x3000;京公网安备110105001181号</p>
		</footer>
</body>
</html>
